/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.row-textinputs {
	-fx-alignment: center;
	-fx-border-color: #eeeeee00;
	-fx-background-color: #eeeeee00;
}